{% extends "store/base.html" %}
{% load static%}

{% block content %}
<section class="about">
    <div class="main">
        <img src="{% static 'images/store3.jpg'%}">
        <div class="about-text">
            <h2>About Us</h2>
            <h5>Online Clothing Store</h5>
            <p>TrendyStore, Kenya's no. 1 online growing clothes retailer was established in July 2023 with the aim and vision to become the one-stop shop for retail in Kenya with implementation of best practices both online and offline.The TrendyStore is the largest growing online retail store in Kenya.
                At inception we did an average delivery time of a week, today we do, on average, delivery in 1-5 days.Initially starting with 3 employees, Jumia presently has a staff strength of 1000 young and entrepreneurial Kenyans including our 150 man strong customer service team available 7 days a week.
                Country-wide Delivery in Kenya.TrendyStore set-up the 1st e-commerce academy in Kenya, the Jumia Academy, building young entrepreneurs pioneering various aspects of business in Kenya.</p>
            <button type="submit" class="abt">Shop Now</button>
        </div>
    </div>
</section>
<div class="service">
    <div class="titile">
        <h2>Our Services</h2>
    </div>

    <div class="service-box">
            <div class="abt-card">
                <i class="fas fa-bars"></i>
                <h5>Selling Clothes</h5>
                <div class="pra">
                    <p>We sell all varities of clothes online female male and children clothes</p>

                    <p style="text-align: center;"></p>
                </div>
            </div>
    </div>
    <div class="service-box">
        <div class="abt-card">
            <i class="fas fa-car"></i>
            <h5>Delivery</h5>
            <div class="pra">
                <p>We offer door to door deliveries to our esteem customers </p>

                <p style="text-align: center;"></p>
            </div>
        </div>
    </div>
    <div class="service-box">
        <div class="abt-card">
            <i class="fas fa-user"></i>
            <h5>Sales</h5>
            <div class="pra">
                <p>We sell all varities of clothes online female male and children clothes</p>

                <p style="text-align: center;"></p>
            </div>
        </div>
    </div>
    <div class="service-box">
        <div class="abt-card">
            <i class="fas fa-users"></i>
            <br>
            <h5>Sales</h5>
            <div class="pra">
                <p>We provide both wholesale and retail sales for products to our customers</p>

                <p style="text-align: center;"></p>
            </div>
        </div>
    </div>
    
</div>



{% endblock %}